<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Details</title>
</head>
<body>
  <h1>Users</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% employee.forEach(emp => { %>
        <tr>
          <td><%= emp.id %></td>
          <td><%= emp.username %></td>
          <td><%= emp.email %></td>
          <td><%= emp.role %></td>
          <td>
            <a href="/employee/edit/<%= emp.id %>">Edit</a>
            <form action="/employee/delete/<%= emp.id %>" method="post">
              <button type="submit" id="dlt-btn" onclick="return confirm('Are you Sure You want to delete')">Delete</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>